<div class="container span9">

  <form class="form-signin" method="post" action="/createPage" style="width: 330px;margin: 0 auto;">
    <h2 class="form-signin-heading">XE - Content Designer</h2>
    <label for="oracleId" class="sr-only">Enter Page Root</label>
    <input type="text" id="pageroot" class="form-control" name="pageroot" placeholder="Page root followed by / Ex: groceries/uk" required
           autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>

</div>
